services:
  - type: worker
    name: telegram-bot
    runtime: python
    region: frankfurt
    plan: free
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: python main.py